{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 11", "last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "sourceMap": "inline"
    },
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
